@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap');

:root{
    --font: 'chakra petch', sans-serif;
    --gray: #E6E6E6;
    --soft-gray: #D1CCCC;
    --dark-gray: #35352C;
    --soft-green: #2BA84A;
    --dark-green: #248232;
    --blue: #0081AF;
    --dark-blue: #14213D;
    --red: #FF312E;
    --dark-purple: #58077d;
    --purple: #bc15f4;
    --orange: #ca5502;
    --dark-orange: #BF3100;
    --yellow: #FCA311;
    --dark-yellow: #bd7400; 
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{ 
    background-color: var(--dark-blue);
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--dark-gray);
    display: grid;
    align-items: center;
    justify-content: center;
}

.conteiner, .tela-resultados, .tela-inicio, .tela-sobre{
    background-color: var(--white);
    max-width: 100%;
    width: 40rem;
    height: 35rem;
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.tela-sobre{
    display: none;
}

.conteiner-principal{
    margin: 0 auto;
    max-width: 100%;
    width: 40rem;
}

/********************************************************/

.tela-inicio > aside {
    margin-top: -80px;
    display: flex;
    justify-content: center;
}

.titulo{
    color: var(--dark-blue);
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    margin-bottom: 20px;
}

.botaoIniciar{
    background-color: var(--dark-purple);
    margin-right: 8px;
    width: 12rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font);
    color: var(--white);
    border-radius: 8px;
    border: 3px solid var(--purple);
    cursor: pointer;
    transition: .3s;
}

.botaoIniciar:hover{
    transform: scale(0.98);
}

/************************************************/

.botaoSobre, .botaoVoltar{
    background-color: var(--yellow);
    margin-left: 8px;
    width: 12rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font);
    color: var(--white);
    border-radius: 8px;
    border: 3px solid var(--dark-yellow);
    cursor: pointer;
    transition: .3s;
}

.botaoSobre:hover, .botaoVoltar:hover, .botaoVoltar_2:hover{
    transform: scale(0.98);
}

.botaoVoltar{
    margin: 0 auto;
    background-color: var(--orange);
    border-color: var(--dark-orange);
    width: 18rem;
    font-size: 1.6rem;
}

.tela-sobre > ul > h2{
    text-align: center;
    margin-bottom: 10px;
}

.tela-sobre > ul{
    padding: 0 2rem;
    text-align: justify;
    font-size: 1.5rem;
}

.tela-sobre > ul > li{
    padding: 10px 0;
}

.tela-sobre > p{

    font-weight: 600;
}

.tela-sobre > p > a{
    color: var(--dark-gray);
}

/***********************************************/

.conteiner{
    display: none;
    position: relative;
    
}

.conteiner > .conteiner-timer {
    font-size: 2.3rem;
    position: absolute;
    top: 30px;
    right: 30px;

}

.conteiner > .emojisDica {
    margin-bottom: -100px;
    font-size: 4rem;
    text-align: center;
}

.input-resposta{
    margin: 0 auto;
    margin-bottom: -50px;
    max-width: 100%;
    padding: 1rem 2rem;
    outline: none;
    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    border: 2px solid var(--soft-gray);
}

.conteiner-btn{
    display: grid;
    justify-content: center;
}

.conteiner-btn > .btn-confirma {
    background-color: var(--soft-green);
    width: 12rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font);
    color: var(--white);
    border-radius: 8px;
    border: 3px solid var(--dark-green);
    cursor: pointer;
    transition: .3s;
}

.conteiner-btn > .btn-confirma:hover{
    transform: scale(0.95);
}

/**************************************************/

.tela-resultados{
    display: none;
}

.tela-resultados > h2{
    font-size: 3rem;
}

.tela-resultados > .emoji-area{
    text-align: center;
    font-size: 5rem;
}

.tela-resultados > p{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.tela-resultados > p > .pontos-area{
    color: var(--blue);
    font-size: 4rem;
    font-weight: 500;
}

.tela-resultados > input {
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font);
    color: var(--white);
    border-radius: 8px;
    border: 3px solid transparent;
    cursor: pointer;
    transition: .3s;
}

.tela-resultados > input{
    background-color: var(--orange);
    border-color: var(--dark-orange);
}

.tela-resultados > input:hover{
    transform: scale(0.95);
}

/*********************************************************/

@media (max-width: 430px) {

    .conteiner, .tela-resultados, .tela-inicio{
        width: 35rem;
    }
    
    .conteiner-principal{
        width: 35rem;
    }
    
    .conteiner > .emojisDica {
        font-size: 3rem;
    }

}

@media (max-width: 375px) {

    .conteiner, .tela-resultados, .tela-inicio{
        width: 30rem;
    }
    
    .conteiner-principal{
        width: 30rem;
    }
    
    .conteiner > .emojisDica {
        font-size: 3rem;
    }

    .titulo{
        font-size: 3.5rem;
    }

    .botaoIniciar, .botaoSobre{
        width: 10rem;
    }

}